.filter__list label {
  position: relative;
  cursor: pointer;
  display: inline;
  align-items: flex-start;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.filter__list input {
  padding: 10px;
  margin-right: 14px;
}

.filter__title {
  padding: 16px 0;
  margin-top: 6px;
  font-family: RobotoBold, sans-serif;
}

.filter__lists {
  padding: 0 0 6px;
}

.authorization-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.authorization-box form {
  margin-top: 20px;
}

.authorization-box input[type='email'],
.authorization-box input[type='password'] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authorization-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.authorization-box button:hover {
  background-color: #0056b3;
}

#toast-container-main {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  width: 250px;
}

#toast-container-main > div {
  background-color: rgb(1, 255, 43);
  color: white;
  width: 100%;
  margin-bottom: 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  animation: slide-in 0.2s;
  transition: all 0.3s ease;
}

.toast-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes slide-in {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.modalling {
  position: fixed;
  z-index: 300;
  width: 500px;
  height: 500px;
  border: 5px solid rgb(0, 106, 255);
  border-radius: 10px;
  left: 30%;
  top: 30%;
  background-color: white;
}
/* Appointment model adding */
/* Add custom CSS to your stylesheets */
.custom-input {
  border: 2px solid #3498db; /* Blue border */
  border-radius: 5px;
  padding: 10px;
  color: #555;
}

.btn-custom-primary {
  background-color: #3498db; /* Blue button */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-custom-primary:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.btn-custom-secondary {
  background-color: #ccc; /* Gray button */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-custom-secondary:hover {
  background-color: #999; /* Darker gray on hover */
}

/* form input */

.form-check-input {
  border: var(--bs-border-width) solid #000;
}
